.parent{

    height: 800px;width: 600px;background-color: cadetblue;
    margin-left: 400px;
}

.child{
    height: 250px;
    width: 250px;
    border: 2px solid black;
    background-color: rgb(126, 15, 98);
    margin-left: 180px;

} 
.img{
    width: 250px;
    height: 200px;
}